apiVersion: v1
kind: Service
metadata:
  name: macauchy-app
  namespace: dev
spec:
  selector:
    app: macauchy-app
  type: LoadBalancer
  ports:
  - name: http
    port: 8888
    targetPort: 8888
    protocol: TCP
